@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700,900,900i");

/*------------- #Main Styles --------------*/
body {
	background: #fff;
	color: #646477;
	font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, serif, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
}

h1, .h1 {
	font-weight: 700;
	color: #414042;
	font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: .5em 0;
	line-height: 1em;
	letter-spacing: 0.02em;
}

h1 a, .h1 a {
	color: inherit;
}

h2, .h2 {
	margin: .5em 0;
	line-height: 1.3em;
	font-weight: 700;
	color: #414042;
	font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.02em;
}

h2 a, .h2 a {
	color: inherit;
}

h3, .h3 {
	margin: .5em 0;
	line-height: 1.3em;
	font-weight: 700;
	color: #414042;
	font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.02em;
}

h3 a, .h3 a {
	color: inherit;
}

h4, .h4 {
	margin: .5em 0;
	line-height: 1.3em;
	font-weight: 700;
	color: #414042;
	font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.02em;
}

h4 a, .h4 a {
	color: inherit;
}

h5, .h5 {
	margin: .5em 0;
	line-height: 1.3em;
	font-weight: 700;
	color: #414042;
	font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.02em;
}

h5 a, .h5 a {
	color: inherit;
}

h6, .h6 {
	margin: .5em 0;
	line-height: 1.3em;
	font-weight: 700;
	color: #414042;
	font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.02em;
}

h6 a, .h6 a {
	color: inherit;
}

a {
	text-decoration: none;
	color: #646477;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

a:hover {
	color: #ffb936;
}

p {
	font-size: 16px;
}

@media (max-width: 600px) {
	p {
		font-size: 14px;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

strong {
	color: #414042;
}

/*------------- #Custom Styles --------------*/
.rst-content .toctree-wrapper ul {
	list-style: none;
}

.rst-content .toctree-wrapper ul ul {
	margin: 10px 0 10px 20px;
}

.rst-content .toctree-wrapper ul li {
	list-style: none;
	margin-left: 0;
	margin-bottom: 10px;
}

.rst-content .toctree-wrapper ul li ul {
	margin: 10px 0 10px 20px;
}

.rst-content .toctree-wrapper ul li > a {
	padding-left: 24px;
	position: relative;
}

.rst-content .toctree-wrapper ul li > a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 5px;
	height: 5px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid #585765;
	background-color: #f9d657;
}

.rst-content .toctree-wrapper ul li ul li > a:before {
	background-color: #0ccb52;
}

.rst-content .toctree-wrapper ul li ul ul li > a:before {
	background-color: #f09b86;
}

.rst-content .toctree-wrapper ul li li li {
	list-style: none;
}

.rst-content .toctree-wrapper ul li li {
	list-style: none;
}

.wy-side-nav-search {
	background-color: #ffb936;
	border-bottom: 1px solid #ffb936;
}

.wy-side-nav-search a:hover {
	color: #414042;
	background: rgba(255, 255, 255, 0.3);
}

.wy-side-nav-search > div.version {
	color: rgba(255, 255, 255, 0.7);
}

.wy-nav-side {
	background: #727286;
}

.wy-nav-content {
	background: -webkit-gradient(linear, left top, right top, from(#fff), to(#a8bad4));
	background: -webkit-linear-gradient(left, #fff, #a8bad4);
	background: linear-gradient(to right, #fff, #a8bad4);
	max-width: 100%;
}

.wy-menu-vertical p.caption {
	color: #fff;
}

.wy-menu-vertical a {
	font-size: 95%;
}

.wy-menu-vertical a:hover {
	background-color: #a8bad4;
	color: #fff;
}

.btn {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	padding: 10px 25px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	text-align: center;
	line-height: 1;
	-webkit-box-shadow: 10px 0 30px 0 rgba(254, 207, 57, 0);
	box-shadow: 10px 0 30px 0 rgba(254, 207, 57, 0);
	border: none;
}

.btn:active, .btn:focus {
	-webkit-box-shadow: 10px 0 30px 0 rgba(254, 207, 57, 0.5);
	box-shadow: 10px 0 30px 0 rgba(254, 207, 57, 0.5);
	padding: 10px 25px;
}

.btn-neutral {
	background-color: #ffb936 !important;
	color: #fff !important;
}

.btn-neutral:hover {
	background-color: #ffb936 !important;
	color: #fff;
	-webkit-box-shadow: 10px 0 30px 0 rgba(254, 207, 57, 0.5);
	box-shadow: 10px 0 30px 0 rgba(254, 207, 57, 0.5);
}

.wy-breadcrumbs li.wy-breadcrumbs-aside a {
	color: #EF6517;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside a:hover {
	color: #414042;
}

.wy-menu-vertical li.current {
	background: #ebcf96;
}

nav.wy-nav-side {
	border-right: 1px solid #ffb936;
}

.wy-menu-vertical li.toctree-l1.current > a {
	border-bottom: solid 1px #ffb936;
	border-top: solid 1px #ffb936;
}

.wy-menu-vertical li.current > a {
	background-color: #ffb936;
}

.wy-menu-vertical li.current ul {
	margin: 0;
}

.wy-menu-vertical li.current a:hover {
	background: #fff;
}

.wy-menu-vertical li.current a {
	color: #46464e;
}

.wy-menu-vertical a:hover span.toctree-expand {
	color: #fff;
}

.wy-menu-vertical li span.toctree-expand {
	color: #ffb936;
}

.wy-side-nav-search input[type="text"] {
	border-color: #dbe3ec;
}

.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
	background-color: #ffb936;
}

.rst-content dl:not(.docutils) dt {
	padding: 5px 30px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #f0f7fd;
	color: #414042;
	border-top: solid 3px #ffb936;
	font-size: 100%;
}

.rst-content dl:not(.docutils) dt > em {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.rst-content div[class^="highlight"] div[class^="highlight"] {
	background-color: #f0f7fd;
}

.rst-content .admonition {
	background-color: #f0f7fd;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.rst-content .admonition .admonition-title {
	background-color: #ffb936;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.rst-content dl:not(.docutils) dl dt {
	border-left: solid 3px #ffb936;
	background: rgba(255, 185, 54, 0.1);
}

.rst-versions {
	background-color: #ffb936;
	border-right: 1px solid #ffb936;
}

.rst-versions .rst-other-versions {
	color: #414042;
}

.rst-versions .rst-other-versions hr {
	border-top: solid 1px rgba(255, 255, 255, 0.6);
}

.rst-versions a {
	color: rgba(255, 255, 255, 0.7);
}

.rst-versions a:hover {
	color: white;
}

.highlight .nt {
	color: #f05d16;
}

.highlight .s2 {
	color: #414042;
}

.rst-versions .rst-current-version {
	background-color: #fff;
	line-height: 1;
}

.rst-content div[class^="highlight"] {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #8bc5ec;
}

.rst-content div[class^="highlight"] pre {
	color: #f05d16;
}

.wy-side-nav-search > a {
	padding: 7px 15px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.rst-content table.field-list .field-name {
	color: #414042;
	font-weight: 600;
}

.rst-versions .rst-current-version .fa-book,
.rst-versions .rst-current-version .fa {
	color: #414042;
}

.rst-versions .rst-other-versions dd a {
	color: rgba(255, 255, 255, 0.7);
}

.rst-versions .rst-other-versions dd a:hover {
	color: white;
}

.rst-content .sidebar .sidebar-title {
	background-color: #ffb936;
	color: #fff;
}

footer a {
	color: #EF6517;
}

/*------------- Responsive Mode --------------*/
.wy-nav-top {
	background-color: #ffb936;
}

.wy-nav-top i {
	padding-top: 9px;
}

.wy-nav-top a:hover {
	color: #414042;
}
